{% extends "base_template.html" %}
{% block title %}Proa - Alumnos{% endblock %}
{% load static %}

{% block resources %}
    <script src="{% static 'JS/request.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="modal fade" id="pedagogical" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Consejo:</h1>
                </div>
                <div class="modal-body">
                  <p id="advice" style="display: none;"></p>
                  <div class="loader">
                    <div class="square" id="sq1"></div>
                    <div class="square" id="sq2"></div>
                    <div class="square" id="sq3"></div>
                    <div class="square" id="sq4"></div>
                    <div class="square" id="sq5"></div>
                    <div class="square" id="sq6"></div>
                    <div class="square" id="sq7"></div>
                    <div class="square" id="sq8"></div>
                    <div class="square" id="sq9"></div>
                  </div>
                </div>
      
                <div class="modal-footer">
                  <button type="button" id="close__advice" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
        </div>

        {% if mensaje %}
        <div class="alert alert-primary" role="alert">
            {{mensaje}}
        </div>
        {% endif %}

    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">DNI</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Año</th>
        </tr>
        </thead>
        <tbody>
        {% for alumno in alumnos %}
            <tr>
            <td data-label="Nombre">{{alumno.nombre}}</td>
            <td data-label="Apellido">{{alumno.apellido}}</td>
            <td data-label="Email">{{alumno.email}}</td>
            <td data-label="DNI">{{alumno.dni}}</td>
            <td data-label="Cumpleaños">{{alumno.fecha_nacimiento}}</td>
            <td data-label="Año">{{alumno.curso.anio}}</td>
            
            <div class="btn-responsive">
                <td class="botones-dardo">
                    <a class="btn btn-primary" id="ai__req__{{alumno.dni}}" data-bs-toggle="modal" data-bs-target="#pedagogical"> Consejo 😎 </a>
                </td>
            </div>

            <script>
                document.getElementById('close__advice').addEventListener('click', () => {
                    const adviceContainer = document.getElementById('advice');
                    document.querySelector('.loader').style.display = 'block';
                    adviceContainer.style.display = 'none';
                    adviceContainer.innerHTML = '';
                });
    
                document.getElementById('ai__req__{{alumno.dni}}').addEventListener('click', () => {
                  getCalificacionesAlumno("{{alumno.dni}}")
                    .then (d => {
                      let g = '';
                      for (let key in d) {
                        g += `${key}=`;
                        for (let i of d[key]) {
                          g += i;
                        }
                        g += '&';
                      }
    
                      updateAdvice(data => {
                        const adviceContainer = document.getElementById('advice');
                        document.querySelector('.loader').style.display = 'none';
                        adviceContainer.style.display = 'block';
                        adviceContainer.innerHTML = data.advice;
                      }, [
                        "name={{alumno.nombre}}&",
                        g
                      ]);
                  })
                })
            </script>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
