{% extends "base_template.html" %} 
{% load static %} 
{% block title %} Proa - Importar Calificaciones {% endblock %} 
{% block content %}

<div class="container-dropzone container">
  {% if mensajes is not None %}
  <div class="alerts-container">
  {% for mensaje in mensajes %}
    <div class="alert alert-primary" role="alert">{{mensaje}}</div>
  {% endfor %}
  </div>
  {% endif %}

  <form action="/calificaciones/importar_calificaciones/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2> Importar Calificaciones </h2>
    <p> En esta sección puedes importar las Calificaciones mediante Excel o PDF </p>
    <div class="dropzone-area">
        <div class="file-upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
            </svg>
        </div>
        <p>
          1 - Sube el archivo haciendo click en "Seleccionar Archivo" <br>
          2 - Haz click en el botón "Importar Calificaciones"
        </p>
    </div>
    <input type="file" class="form-control" id="archivo_excel" name="archivo_excel" accept=".xlsx, .pdf" required>
    
    <div class="dropzone-actions">
      <button id="submit-button" type="submit"> Importar Calificaciones </button> 
    </div>

  </form>
</div>
{% endblock %}
