{% extends "base_template.html" %}
{% block title %}Proa - Calificaciones{% endblock %}
{% load static %}
{% block content %}
<div class="container">


  <!-- Modal añadir calificacion -->
  <div class="modal fade" id="add__form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Calificacion</h1>
        </div>
        <div class="modal-body">
          <form action="/calificaciones/nuevo2/" method="POST">
            {% csrf_token %} 
              <ul class="list-group"> 
                <div class="list-group-item">
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="alumno">
                    {% for i in alumnos %}
                    <option value ="{{ i.dni }}">{{ i.nombre }} {{ i.apellido }}</option>
                    {% endfor %}
                  </select> 
                </div>
                <div class="list-group-item">
                    <select class="form-select form-select-lg mb-3"  aria-label=".form-select-lg example" name="curso">
                      <option value="1">1ro</option>
                      <option value="2">2do</option>
                      <option value="3">3ro</option>
                      <option value="4">4to</option>
                      <option value="5">5to</option>
                      <option value="6">6to</option>
                    </select>
                  </div>
                <div class="list-group-item">
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="materia">
                    {% for i in materias %}
                      <option value ="{{ i.id }}">{{ i.nombre }} </option>
                    {% endfor %}
                  </select> 
                </div>
                <div class="list-group-item">
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="profesor">
                    {% for i in profesores %}
                      <option value ="{{ i.dni }}">{{ i.nombre }} {{ i.apellido }}</option>
                    {% endfor %}
                  </select> 
                </div>
                <div class="list-group-item">
                  <input type="text" class="form-control datepicker" placeholder="Ingrese fecha de nota (AAAA-MM-DD)" name="fecha" id="fecha" required="required">
                </div>
                <div class="list-group-item">
                  <input type="text" class="form-control" placeholder="Ingrese la nota" name="nota" required="required">
                </div>
                  <div class="list-group-item">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="final" name="final">
                      <label class="form-check-label" for="final">calificacion final?</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success">Nuevo</button>
              </ul>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  {% if mensaje %}
    <div class="alert alert-primary" role="alert">
      {{mensaje}}
    </div>
  {% endif %}

  <div class="row g-2">
    <!-- Botón añadir calificacion -->
    <div class="col-auto">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add__form">Añadir Calificacion</button>
    </div>
      
    <!-- Botón importar calificacion -->
    <div class="col-auto">
      <a class="btn btn-primary" href="{% url 'importar_calificaciones' %}" role="button">Importar Calificaciones desde Excel</a>
    </div>

    <!-- Formulario buscar materia -->
    <form style="margin-top: 10px; margin-bottom: 20px;" class="row g-2" action="{% url 'filtro_calificaciones' %}" method="GET">
      <div class="col-auto">
        <select class="form-select form-select-sm" name="campo" id="campo">
            <option value="nota">Nota</option>
            <option value="alumno">Alumno</option>
            <option value="curso">Curso</option>
            <option value="materia">Materia</option>
            <option value="profesor">Profesor</option>
            <option value="fecha">Fecha</option>
            <option value="id">ID</option>
        </select>
      </div>
      <div class="col-auto">
        <input class="form-control form-control-sm" type="text" name="query" id="query" placeholder="Buscar Calificaciones" value="{{ query }}">
      </div>
      <div class="col-auto">
        <button class="btn btn-secondary btn-sm " type="submit">Buscar</button>
      </div> 
    </form>
    

    <div class="col-auto" style="margin-bottom: 30px; color: gray;">
      <p>Mostrando {{calificaciones|length}}/627 registros</p>
    </div>

  </div>
  
  <table class="table">

      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Alumno</th>
              <th scope="col">Curso</th>
              <th scope="col">Materia</th>
              <th scope="col">Profesor</th>
              <th scope="col">Fecha de Calificación</th>
              <th scope="col">Calificacion</th>
              <th scope="col">¿Calificacion Final?</th>
          </tr>
      </thead>

      <tbody>
          {% for calificacion in calificaciones %}
            <tr>
              {% if calificacion.id == calificaciones_edit.id %}
                <form action="/proa/calificaciones/guardar/?id={{calificacion.id}}" method="POST">
                {% csrf_token %} 
                <div class="row">
                  <th scope="row">{{calificacion.id}}</th>
                  <td>  
                    <div class="list-group-item">
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="alumno">
                        {% for i in alumnos %}
                        <option value="{{ i.dni }}" {% if calificacion.alumno.dni == i.dni %}selected{% endif %}>{{ i.nombre }} {{ i.apellido }}</option>
                        {% endfor %}
                      </select> 
                    </div>
                  </td>
                  <td>
                    <div class="list-group-item">
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="curso">
                        {% for i in cursos %}
                        <option value ="{{ i.id }}"{% if calificacion.curso.id == i.id %}selected{% endif %}>{{ i.anio }}</option>
                        {% endfor %}
                      </select> 
                    </div>
                  </td>
                  <td>
                    <div class="list-group-item">
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="materia">
                        {% for i in materias %}
                        <option value ="{{ i.id }}"{% if calificacion.materia.id == i.id %}selected{% endif %}>{{ i.nombre }}</option>
                        {% endfor %}
                      </select> 
                    </div>
                  </td>
                  <td>
                    <div class="list-group-item">
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="profesor">
                        {% for i in profesores %}
                        <option value ="{{ i.dni }}"{% if calificacion.profesor.dni == i.dni %}selected{% endif %}>{{ i.nombre }} {{ i.apellido }}</option>
                        {% endfor %}
                      </select> 
                    </div>
                  </td>
                  <td>
                    <div class="col">
                      <input type="text" class="form-control datepicker" placeholder="Ingrese Fecha de Calificacion(AAAA-MM-DD)" name="fecha" id="fecha" required="required" value="{{calificacion.fecha}}">
                    </div>
                  </td>
                  <td>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Calificacion" name="nota" id="nota" value="{{ calificacion.nota }}" required="required" >
                    </div>
                  </td>
                  <td>
                    <div class="col">
                      <div class="form-check">
                        <input type="checkbox" class="custom-control-input" name="final" value="True" {% if calificacion.final %}checked{% endif %}>
                        <label class="form-check-label" for="final_{{ calificacion.id }}">
                        </label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button style="margin-bottom: 6px;" type="submit" class="btn btn-success">Guardar</button>
                    <a class="btn btn-secondary" href="/proa/calificaciones" role="button">Cancelar</a>
                  </td>
                </div>
                </form>
              {% else %}
                <th scope="row">{{calificacion.id}}</th>
                <td>{{calificacion.alumno.nombre}} {{calificacion.alumno.apellido}}</td>
                <td>{{calificacion.curso.anio}}</td>
                <td>{{calificacion.materia.nombre}}</td>
                <td>{{calificacion.profesor.nombre}} {{calificacion.profesor.apellido}}</td>
                <td>{{calificacion.fecha}}</td>
                <td>{{calificacion.nota}}</td>
                <td>                  
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="custom-control-input" name="final" {% if calificacion.final %}checked disabled{% else %}disabled{% endif %} value="True">
                      <label class="form-check-label" for="final_{{ calificacion.id }}">
                        {% if calificacion.final %}Si{% else %}No{% endif %}
                      </label>
                    </div>
                  </div>
                </td>                          
                <td>
                  <a style="margin: 3px;" class="btn btn-danger" href="/proa/calificaciones/delete?id={{calificacion.id}}" role="button">Eliminar</a>
                  <a style="margin: 3px;" class="btn btn-primary" href="/proa/calificaciones/editar?id={{calificacion.id}}" role="button">Editar</a>
                </td> 
              {% endif %}
            </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}

