{% extends "base_template.html" %}
{% block title %}Proa - Calificaciones{% endblock %}
{% load static %}
{% block content %}
  <div class="articles">
  {% for curso in cursos %}
    <article>
        <figure>
            <img class="calificaciones-imagen" alt="registro-alumnos">
        </figure>
        <div class="article-preview">
            <h2> Registro de {{curso.anio}}° Año </h2>
            <p>En esta sección podrás ver las calificaciones de los alumnos de {{curso.anio}}° año.</p>
            <a href="/calificaciones/mostrar/{{curso.anio}}/" class="btn btn-primary">Ir a la sección</a>
        </div>
    </article>
  {% endfor %}
  </div>

  <script>
    const images = document.querySelectorAll('.calificaciones-imagen');
    for (let i = 0; i < images.length; ++i) {
      images[i].src = `../static/img/Calificaciones/calificaciones-${i+1}.jpg`;
    }
  </script>
{% endblock %}

