{% extends "base_template.html" %}
{% block title %}Proa - Calificaciones{% endblock %}
{% load static %}
{% block content %}

<div class="titulos">
  <h1> 
    <span class="badge rounded-pill bg-primary shadow-blue titulos"> 
      Registro Calificaciones de {{ curso }} 📚
    </span> 
  </h1>
</div>

<div class="container">
  <div class="modal fade" id="add__form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Calificación</h1>
        </div>
        <div class="modal-body">
          <form action="/calificaciones/new/" method="POST">
            {% csrf_token %}
              <ul class="list-group">
                <div class="list-group-item">
                  <label for="nombre"> Nombre: </label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="alumno">
                    {% for i in alumnos %}
                    <option value ="{{ i.dni }}">{{ i.nombre }} {{ i.apellido }}</option>
                    {% endfor %}
                  </select> 
                </div>
                <div class="list-group-item">
                  <label for="curso"> Curso: </label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="curso">
                    <option value="{{ curso }}" selected>{{ curso }}</option>
                  </select> 
                </div>
                <div class="list-group-item">
                  <label for="materia"> Materia: </label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="materia">
                    {% for i in materias %}
                      <option value ="{{ i.id }}">{{ i.nombre }} </option>
                    {% endfor %}
                  </select> 
                </div>
                <div class="list-group-item">
                  <label for="profesor"> Profesor: </label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="profesor">
                    {% for i in profesores %}
                      <option value ="{{ i.dni }}">{{ i.nombre }} {{ i.apellido }}</option>
                    {% endfor %}
                  </select> 
                </div>
                <div class="list-group-item">
                  <label for="fecha"> Fecha de la calificación: </label>
                  <input type="date" class="form-control datepicker" placeholder="Ingrese fecha de la nota" name="fecha" id="fecha" required="required">
                </div>
                <div class="list-group-item">
                  <label for="nota"> Nota: </label>
                  <input type="text" class="form-control" placeholder="Ingrese la nota" name="nota" required="required">
                </div>
                  <div class="list-group-item">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="final" name="final">
                      <label class="form-check-label" for="final">¿Calificación Final?</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Nuevo</button>
              </ul>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  {% if mensaje %}
    <div class="alert alert-primary" role="alert">
      {{mensaje}}
    </div>
  {% endif %}
  <!-- MDO MDO MDO -->
  {% if user.is_staff %}
  <div class="btn-responsive">
    <button type="button" class="btn btn-primary shadow-blue" data-bs-toggle="modal" data-bs-target="#add__form"> Añadir Calificación 📚 </button>
    <a class="btn btn-primary shadow-blue" href="{% url 'importar_calificaciones' %}" role="button"> Importar Calificaciones (Excel o PDF) 📚 </a>
    <a class="btn btn-primary shadow-blue" href="/proa/calificaciones/pedagogia/{{curso}}/" role="button">Filtro pedagogía 🔎</a>
  </div>
  {% endif %}
  <!-- MDO MDO MDO -->

  <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Alumno</th>
              <th scope="col">Curso</th>
              <th scope="col">Materia</th>
              <th scope="col">Profesor</th>
              <th scope="col">Fecha de Calificación</th>
              <th scope="col">Calificación</th>
              <th scope="col">¿Calificación Final?</th>
          </tr>
      </thead>

      <!-- TABLAS QUE SE VEN -->
      <tbody>
          {% for calificacion in calificaciones %}
            <tr>
                <th scope="row">{{calificacion.id}}</th>
                <td data-label="Alumno">{{calificacion.alumno.nombre}} {{calificacion.alumno.apellido}}</td>
                <td data-label="Curso">{{calificacion.curso.anio}}</td>
                <td data-label="Materia">{{calificacion.materia.nombre}}</td>
                <td data-label="Profesor">{{calificacion.profesor.nombre}} {{calificacion.profesor.apellido}}</td>
                <td data-label="Fecha">{{calificacion.fecha}}</td>
                <td data-label="Nota">{{calificacion.nota}}</td>
                <td data-label="Calificación Final">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="final" {% if calificacion.final %}checked disabled{% else %}disabled{% endif %} value="True">
                    <label class="form-check-label" for="final_{{ calificacion.id }}">
                      {% if calificacion.final %}Si{% else %}No{% endif %}
                    </label>
                  </div>
                </td>
                {% if user.is_staff %}
                <td>
                  <a class="btn btn-danger" href="/proa/calificaciones/delete?id={{calificacion.id}}" role="button">Eliminar</a>
                </td>
                {% endif %}
            </tr>
          {% endfor %}
      </tbody>
      <!-- TABLAS QUE SE VEN -->
  </table>
</div>
{% endblock %}
