{% extends "base_template.html" %}
{% block title %}Proa - Alumnos{% endblock %}
{% load static %}
{% block content %}
<div class="container">

  <div class="modal fade" id="add__form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir alumno</h1>
        </div>
        <div class="modal-body">
          <form action="/alumnos/nuevo2/" method="POST">
            {% csrf_token %} 
              <ul class="list-group"> 
                  <div class="list-group-item">
                    <input type="text" class="form-control" placeholder="ingrese el nombre" name="nombre" required="required">
                  </div>
                  <div class="list-group-item">
                    <input type="text" class="form-control" placeholder="ingrese el apellido" name="apellido" required="required"> 
                  </div>
                  <div class="list-group-item">
                    <input type="email" class="form-control" placeholder="ingrese el mail" name="email">
                  </div>
                  <div class="list-group-item">
                    <input type="number" class="form-control" placeholder="ingrese el DNI" name="DNI" required="required">
                  </div>
                  <div class="list-group-item">
                    <input type="text" class="form-control datepicker" placeholder="Ingrese Fecha de Nacimiento(AAAA-MM-DD)" name="fecha_nacimiento" id="fecha_nacimiento" required="required">
                  </div>
                  <div class="list-group-item">
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="curso">
                        <option value="1">1ro</option>
                        <option value="2">2do</option>
                        <option value="3">3ro</option>
                        <option value="4">4to</option>
                        <option value="5">5to</option>
                        <option value="6">6to</option>
                      </select>
                    </div>
                  <div class="list-group-item">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="repitio" name="repitio">
                      <label class="form-check-label" for="repitio">
                        Repitió?
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Nuevo</button>
                </ul>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {% if mensaje%}
    <div class="alert alert-primary" role="alert">
      {{ mensaje }}
    </div>
  {% endif %}

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add__form">
    Añadir alumno
  </button>

  <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Email</th> 
              <th scope="col">DNI</th>
              <th scope="col">Fecha de Nacimiento</th>
              <th scope="col">Año</th>
              <th scope="col">Repitente?</th>
          </tr>
      </thead>
      <tbody>
          {% for alumno in alumnos %}
            <tr>
              {% if alumno.dni == alumnos_edit.dni %}
                <form action="/proa/alumnos/guardar/?id={{alumno.dni}}" method="POST">
                {% csrf_token %} 
                <div class="row">
                  <th scope="row">{{alumno.dni}}</th>
                  <td>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="ingrese el nombre" name="nombre" value="{{alumno.nombre}}">
                    </div>
                  </td>
                  <td>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="ingrese el apellido" name="apellido" value="{{alumno.apellido}}">
                    </div>
                  </td>
                  <td>
                    <div class="col">
                      <input type="email" class="form-control" placeholder="ingrese el mail" name="email" value="{{alumno.email}}">
                    </div>
                  </td>
                  <td>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="ingrese el DNI" name="DNI" value="{{alumno.dni}}">
                    </div>
                  </td>
                  <td>
                    <div class="col">
                      <input type="text" class="form-control datepicker" placeholder="Ingrese Fecha de Nacimiento(AAAA-MM-DD)" name="fecha_nacimiento" id="fecha_nacimiento" required="required" value="{{ alumno.fecha_nacimiento }}">
                    </div>
                  </td>
                  
                  <td>
                    <div class="col">
                      {% if alumno.dni == alumnos_edit.dni %}
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="curso">
                          <option value="1" {% if alumno.curso.id == 1 %}selected{% endif %}>1ro</option>
                          <option value="2" {% if alumno.curso.id == 2 %}selected{% endif %}>2do</option>
                          <option value="3" {% if alumno.curso.id == 3 %}selected{% endif %}>3ro</option>
                          <option value="4" {% if alumno.curso.id == 4 %}selected{% endif %}>4to</option>
                          <option value="5" {% if alumno.curso.id == 5 %}selected{% endif %}>5to</option>
                          <option value="6" {% if alumno.curso.id == 6 %}selected{% endif %}>6to</option>
                        </select>
                      {% else %}
                        {{ alumno.curso.nombre }}
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="custom-control-input" name="repitio" value="True"> {% if alumno.repitio %}checked{% endif %}
                      <label class="form-check-label" for="repitio_{{ alumno.dni }}">
                        
                      </label>
                    </div>
                    
                  </td>

                  <td>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a class="btn btn-primary" href="/proa/alumnos" role="button">cancelar</a>
                  </td>
                </div>
                </form>
              {% else %}
                <th scope="row">{{ alumno.id}}</th>
                <td>{{ alumno.nombre}}</td>
                <td>{{ alumno.apellido}}</td>
                <td>{{ alumno.email}}</td>
                <td>{{ alumno.dni }}</td>
                <td>{{ alumno.fecha_nacimiento }}</td>
                <td>{{ alumno.curso.anio}}</td>
                <td>
                  <div class="col">
                    <div class="form-check">
                      <input type="checkbox" class="custom-control-input" name="repitio" {% if alumno.repitio %}checked disabled{% else %}disabled{% endif %} value="True">
                      </label>
                    </div>
                  </div>
                </td>                
                <td>
                  <a class="btn btn-primary" href="/proa/alumnos/delete?DNI={{alumno.dni}}" role="button">eliminar</a>
                  <a class="btn btn-primary" href="/proa/alumnos/editar?DNI={{alumno.dni}}" role="button">editar</a>
                </td> 
              {% endif %}
            </tr>
          {% endfor %}
      </tbody>
  </table>
</div>


{% endblock %}