{% extends "base_template.html" %}
{% block title %}Proa - Alumnos{% endblock %}
{% load static %}
{% block content %}
<div class="container">
<!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Curso
  </button>
  <ul  class="dropdown-menu">
    <li><a class="dropdown-item" href="/alumnos">Todos</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="/alumnos/curso/?curso=1">1ro</a></li>
    <li><a class="dropdown-item" href="/alumnos/curso/?curso=2">2do</a></li>
    <li><a class="dropdown-item" href="/alumnos/curso/?curso=3">3ro</a></li>
    <li><a class="dropdown-item" href="/alumnos/curso/?curso=4">4to</a></li>
    <li><a class="dropdown-item" href="/alumnos/curso/?curso=5">5to</a></li>    
    <li><a class="dropdown-item" href="/alumnos/curso/?curso=6">6to</a></li>
  </ul>
</div>
    <form action="/alumnos/nuevo2/" method="POST">
      {% csrf_token %} 
        <div class="row">
            
            <div class="col">
              <input type="text" class="form-control" placeholder="ingrese el nombre" name="nombre" required="required">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="ingrese el apellido" name="apellido" required="required"> 

            </div>
            <div class="col">
              <input type="email" class="form-control" placeholder="ingrese el mail" name="email">
            </div>
            <div class="col">
              <input type="number" class="form-control" placeholder="ingrese el DNI" name="DNI" required="required">
            </div>
            <div class="col">
              <!-- <input type="number" class="form-control" placeholder="ingrese el curso" name="curso" required="required"> -->
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="curso">
                <option value="1">1ro</option>
                <option value="2">2do</option>
                <option value="3">3ro</option>
                <option value="4">4to</option>
                <option value="5">5to</option>
                <option value="6">6to</option>
              </select>
            </div>
            <button type="submit" class="col">Nuevo</button>
          </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th> 
                <th scope="col">Documento</th>
                <th scope="col">Curso</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
              <tr>
                {% if alumno.documento == alumnos_edit.documento %}
                  <form action="/proa/alumnos/guardar/?id={{alumno.id}}" method="POST">
                  {% csrf_token %} 
                  <div class="row">
                    <th scope="row">{{alumno.id}}</th>
                    <td>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="ingrese el nombre" name="nombre" value = {{alumno.nombre}}>
                      </div>
                    </td>
                    <td>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="ingrese el apellido" name="apellido" value = {{alumno.apellido}}>
                      </div>
                    </td>
                    <td>
                      <div class="col">
                        <input type="email" class="form-control" placeholder="ingrese el mail" name="email" value = {{alumno.email}}>
                      </div>
                    </td>
                    <td>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="ingrese el DNI" name="DNI" value = {{alumno.documento}}>
                      </div>
                    </td>
                    <td>
                      <div class="col">
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="curso">
                          <option value="1">1ro</option>
                          <option value="2">2do</option>
                          <option value="3">3ro</option>
                          <option value="4">4to</option>
                          <option value="5">5to</option>
                          <option value="6">6to</option>
                        </select>
                        <!-- <input type="text" class="form-control" placeholder="ingrese el curso" name="curso" value = {{alumno.curso}}> -->
                      </div>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-primary">Guardar</button>
                      <a class="btn btn-primary" href="/proa/alumnos" role="button">cancelar</a>
                    </td>
                  </div>
                  </form>
                {% else %}
                  <th scope="row">{{ alumno.id}}</th>
                  <td>{{ alumno.nombre}}</td>
                  <td>{{ alumno.apellido}}</td>
                  <td>{{ alumno.email}}</td>
                  <td>{{ alumno.documento }}</td>
                  <td>{{ alumno.curso.curso}}</td>
                  <td>
                    <a class="btn btn-primary" href="/proa/alumnos/delete?id={{alumno.id}}" role="button">eliminar</a>
                    <a class="btn btn-primary" href="/proa/alumnos/editar?DNI={{alumno.documento}}" role="button">editar</a>
                  </td> 
                {% endif %}
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
  
{% if mensaje%}
<script type="text/javascript">
  alert("{{ mensaje }}" );
</script>
{% endif %}
{% endblock %}