{% extends "base_template.html" %}
{% block title %}Proa - Alumnos{% endblock %}
{% load static %}

{% block resources %}
  <link rel="stylesheet" href="{% static 'styles/css/loader.css' %}" type="text/css">
  <script src="{% static 'JS/request.js' %}" defer></script>
{% endblock %}

{% block content %}
  <div class="container">
    <article>
      <nav class="accordion-container">
        <div class="main-item">
            <h2> Alumnos 👨‍🎓👩‍🎓 </h2>
            <svg xmlns="http://www.w3.org/2000/svg"class="expand-icon"width="44"height="44" viewBox="0 0 24 24"stroke-width="1.5" stroke="currentColor"fill="none" stroke-linecap="round"stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 6l6 6l-6 6" />
            </svg>
        </div>
        <ul>
            <li>
              <div class="line-vertical"></div>
              <div class="line-horizontal"></div>
              <a href="/alumnos/mostrar/1/">
                  1er Año 📘
              </a>
            </li>
    
            <li>
              <div class="line-vertical"></div>
              <div class="line-horizontal"></div>
              <a href="/alumnos/mostrar/2/">
                  2do Año 📗
              </a>
            </li>
    
            <li>
              <div class="line-vertical"></div>
              <div class="line-horizontal"></div>
              <a href="/alumnos/mostrar/3/">
                  3er Año 📒
              </a>
            </li>
    
            <li>
              <div class="line-vertical"></div>
                <div class="line-horizontal"></div>
                <a href="/alumnos/mostrar/4/">
                    4to Año 📙
                </a>
            </li>
    
            <li>
              <div class="line-vertical"></div>
              <div class="line-horizontal"></div>
              <a href="/alumnos/mostrar/5/">
                  5to Año 📕
              </a>
            </li>
    
            <li>
              <div class="line-vertical"></div>
              <div class="line-horizontal"></div>
              <a href="/alumnos/mostrar/6/">
                  6to Año 🎓
              </a>
            </li>
    
        </ul>
      </nav>
    </article>
  </div>
{% endblock %}
