.graficos, .graficos-torta{
    margin-top: 1%;
    border: rgb(34, 34, 34) 1px solid;
    border-radius: 20px;
    box-shadow: #111824cb 10px 10px 40px;
    transition: .5s all ease-in-out;
}

.graficos:hover, .graficos-torta:hover{
    box-shadow: #488bffcb 10px 10px 40px;
}

.graficos-torta{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.selectMateria{
    max-width: max-content;
    box-shadow: #111824cb 10px 10px 40px;
    transition: .5s all ease-in-out;
}

.selectMateria:hover{
    box-shadow: #488bffcb 10px 10px 40px;
}

.boton-aplicar{
    box-shadow: #111824cb 10px 10px 40px;
    transition: .5s all ease-in-out;
}

.boton-aplicar:hover{
    box-shadow: #488bffcb 10px 10px 40px;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    canvas {
        width: 100% !important;
        height: auto !important;
    }
}