{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS VANILLA -->
        <link rel="stylesheet" href="{% static 'styles/css/nav.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'styles/css/footer.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'styles/css/cards.css' %}" type="text/css">

        <!-- BOOTSTRAPS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

        <!-- JQUERY -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

        <title>{% block title %}ProA - Inicio{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/ico.ico' %}">
    </head>

    <body class="p-3 m-0 border-0 bd-example d-flex flex-column min-vh-100">
        {% if not request.user.is_authenticated %}
        <div>
            <h1>¡Tenés que ingresar con tu cuenta!</h1>
            <a href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
        </div>
        {% else %}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        
        <script>
        $(document).ready(function() {
            $(".datepicker").datepicker({
            dateFormat: "yyyy-mm-dd"  // Establece el formato de fecha deseado
            });

            $('.datepicker').click(function() {
            // Se centra la tabla de fechas.
                var date = $('.datepicker')[1];
                date.style.display = 'flex';
                date.style.justifyContent = 'center';
            });
        });
        </script>
        
        <header class="header">
            <div class="menu__wrapper">
                <div class="menu__bar">
                    <a href="#" title="Inicio" aria-label="home" class="logo">
                        <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">  
                    </a> 
                    <div class="menu__wrapper">
                        <div class="logoNav">
                            <img src="./assets/LOGO-2.png" alt="Logo">
                        </div>
                        <button class="burger-menu" aria-label="Toggle navigation">
                            <svg viewBox="0 0 100 80" width="40" height="40">
                                <rect width="100" height="20"></rect>
                                <rect y="30" width="100" height="20"></rect>
                                <rect y="60" width="100" height="20"></rect>
                            </svg>
                        </button>
                        <nav>
                            <ul class="navigation hide">
                                <li class="page-item">
                                    <button type="button"> Registros </button>
                                    <div class="dropdown__wrapper">
                                        <div class="dropdown">
                                            <ul class="list-items-with-description">
                                                <li>
                                                    <div class="item-title">
                                                        <h1> Alumnos </h1>
                                                        <p> Sección de Alumnos! </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-title">
                                                        <h1> Profesores </h1>
                                                        <p> Sección de Profesores! </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-title">
                                                        <h1> Materias </h1>
                                                        <p> Sección de Materias! </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-title">
                                                        <h1> Calificaciones </h1>
                                                        <p> Sección de Calificaciones! </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="page-item">
                                    <a href="#" title="Armin" class="btn btn-dark"> Administrar </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" title="Informes" class="btn btn-dark"> Informes </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" title="Graficos" class="btn btn-dark"> Graficos por materia </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" title="Graficos" class="btn btn-dark"> Graficos por año y materia </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer class="footer">
            <div class="footer-div col-sm-3">
                <h6> Calle Arroyo Piedras Blancas, Río Cuarto, Córdoba riocuarto.ds@escuelasproa.edu.ar </h6>
                <a href="https://api.whatsapp.com/send?phone=5493584908299" target="_blank">
                    <img src="{% static 'img/wspLOGO.png' %}" class="footer-img" alt="Instagram">
                </a>

                <a href="https://www.instagram.com/roman.mddo/" target="_blank">
                    <img src="{% static 'img/igLOGO.png' %}" class="footer-img" alt="Instagram">
                </a>
            </div>
        </footer>
        {% endif %}
    </body>
</html>
