{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Header and Nav -->
        <link rel="stylesheet" href="{% static 'styles/css/header.css' %}" type="text/css">

        <!-- Footer -->
        <link rel="stylesheet" href="{% static 'styles/css/footer.css' %}" type="text/css">

        <!-- Tw Casero -->
        <link rel="stylesheet" href="{% static 'styles/css/shadows.css' %}" type="text/css">

        <!-- Chat -->
        <link rel="stylesheet" href="{% static 'styles/css/chat200.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'styles/css/chat.css' %}" type="text/css">

        <!-- Cards -->
        <link rel="stylesheet" href="{% static 'styles/css/cards.css' %}" type="text/css">

        <!-- Responsive -->
        <link rel="stylesheet" href="{% static 'styles/css/responsive.css' %}" type="text/css">

        <!-- Calificaciones -->
        <link rel="stylesheet" href="{% static 'styles/css/calificaciones.css' %}" type="text/css">

        <!-- Dropzone -->
        <link rel="stylesheet" href="{% static 'styles/css/dropzone.css' %}" type="text/css">

        <!-- BOOTSTRAPS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

        <!-- JQUERY -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

        <!-- JS -->
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/request.js' %}"></script>
        <script src="{% static 'js/accordion-menu.js' %}" defer></script>
        
    
        <title>{% block title %}ProA - Inicio{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/ico.ico' %}">


        {% block resources %}{% endblock %}
    </head>

    <body class="p-3 m-0 border-0 bd-example d-flex flex-column min-vh-100">
        {% if not user.is_authenticated %}
        <div>
            <h1>¡Tenés que ingresar con tu cuenta!</h1>
            <a href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
        </div>
        {% else %}


        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        
        <header class="header">
            <div class="menu__wrapper">
                <div class="menu__bar">
                    <a href="{% url 'inicio' %}" title="Inicio" aria-label="home">
                        <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">  
                    </a> 
        
                    <div class="menu__wrapper">
                        <!-- BOTON NAV RESPONSIVO NO TOCAR -->
                        <button class="burger-menu" aria-label="Toggle navigation">
                            <svg viewBox="0 0 100 80" width="40" height="40">
                                <rect width="100" height="20"></rect>
                                <rect y="30" width="100" height="20"></rect>
                                <rect y="60" width="100" height="20"></rect>
                            </svg>
                        </button>
                        <!-- BOTON NAV RESPONSIVO NO TOCAR -->
        
                        <nav>
                            <ul class="navigation hide">
                                <li class="page-item">
                                    <button type="button" class="dropdown-toggle"> Registros </button>
                                    <div class="dropdown__wrapper">
                                        <div class="dropdown">
                                            <ul class="list-items-with-description">
                                                <li><a href="/proa/alumnos" class="links"> Alumnos 👨‍🎓 </a></li>
                                                <li><a href="/proa/profesores" class="links"> Profesores 👨‍🏫 </a></li>
                                                <li><a href="/proa/materias" class="links"> Materias 📚 </a></li>
                                                <li><a href="/proa/calificaciones" class="links"> Calificaciones 🤠 </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="/proa/informes" class="botones-nav btn btn-dark btn-sm"> Menú Informes 📝 </a></li>
                                <li><a href="/proa/graficos" class="botones-nav btn btn-dark btn-sm"> Gráficos Materias 📊 </a></li>
                                <li><a href="/proa/graficos/grafico_torta/" class="botones-nav btn btn-dark btn-sm"> Gráficos Año/Materia 📊 </a></li>
                                {% if user.is_superuser %}
                                <li><a href="/admin" class="btn btn-warning btn-sm"> Administrar Django 🚧 </a></li>
                                <li><a href="/proa/adminred" class="btn btn-warning btn-sm"> Administrar Red 🛠️ </a></li>
                                {% endif %}
                                <form id="logout-form" method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm"> Cerrar Sesión ⛔ </button>
                                </form>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}
        
        <!-- CHAT -->
        <div class="chat-container"> 
            <button id="openModalBtn" class="btn">
                <img src="{% static 'img/ProAI.png' %}">
            </button>

            <div id="chatModal" class="modal">
                <div class="modal-content">
                    <span class="close-btn"> &times; </span>  
                    <div class="chat-box">
                        <div class="messages">
                            <div class="received">
                                <p class="me-200 btn badge" id="chat"></p>
                            </div>
                        </div>
                        <div class="input-box">
                            <input type="text" id="prompt" placeholder="Escribe un mensaje...">
                            <button id="sendBtn"> Enviar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            document.getElementById('sendBtn').addEventListener('click', () => {
                const input = document.getElementById('prompt');
                const prompt = input.value;

                if (prompt.trim() !== "") {
                    const newMessage = document.createElement('div');
                    newMessage.className = 'message sent';
                    newMessage.innerHTML = '<p>' + prompt + '</p>';
                    document.querySelector('.messages').appendChild(newMessage);
                    input.value = '';
                    document.querySelector('.messages').scrollTop = document.querySelector('.messages').scrollHeight;
                    const response = document.createElement('div');
                    getChat(prompt, response, (res, msg) => {
                        msg.className = 'message2';
                        msg.innerHTML = '<p>' + res.response + '</p>';
                        document.querySelector('.messages').appendChild(msg);
                        document.querySelector('.messages').scrollTop = document.querySelector('.messages').scrollHeight;
                    });
                }
            });
        </script>

        <script src="{% static 'js/chatbot.js' %}"></script>

        <!-- CHAT -->
        
        <footer class="footer">
            <div class="footer-div col-sm-3">
                <h5> Roberto Payró 998, Río Cuarto, Córdoba riocuarto.ds@escuelasproa.edu.ar </h5>
                <a href="https://api.whatsapp.com/send?phone=5493584200397" target="_blank">
                    <img src="{% static 'img/wspLOGO.png' %}" class="footer-img" alt="Whatsapp">
                </a>        

                <!-- Román boludo promocionando su ig: -->
                <!-- <a href="https://www.instagram.com/roman.mddo/" target="_blank"> -->

                <a href="https://www.instagram.com/proa_ds_rioiv/" target="_blank">
                    
                </a>

                <h4> Todos los derechos reservados!  <img src="{% static 'img/copyright.png' %}" class="footer-cp"> </h4>
            </div>
        </footer>
        {% endif %}
    </body>
</html>
