{% extends "base_template.html" %}
{% block title %}Proa - Chat{% endblock %}
{% load static %}

{% block resources %}
    <script src="{% static 'JS/request.js' %}" defer></script>
{% endblock %}

{% block content %}
<html>
    <head>
        <title > Graficos </title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <div class="contenedor-chat"> 
            <button class="btn badge bg-success"> Chat ProAI200 🦾 </button>
            <p class="me-200 btn badge" id="chat"></p>
            <input type="text" class=" form-control p-3 my-3" name="prompt" id="prompt">
            <button id="request" class="btn badge bg-success"> Enviar </button>
        </div> 

        <script>
            document.getElementById('request').addEventListener('click', () => {
                const input = document.getElementById('prompt');
                const prompt = input.value;

                if (prompt.trim() !== "") {
                    const newMessage = document.createElement('div');
                    newMessage.className = 'message sent';
                    newMessage.innerHTML = '<p>' + prompt + '</p>';
                    document.querySelector('.messages').appendChild(newMessage);
                    input.value = '';
                    document.querySelector('.messages').scrollTop = document.querySelector('.messages').scrollHeight;
                    getChat(prompt, newMessage, (res, msg) => {
                        msg.className = 'message sent';
                        msg.innerHTML = '<p>' + res + '</p>';
                        document.querySelector('.messages').appendChild(msg);
                        input.value = '';
                        document.querySelector('.messages').scrollTop = document.querySelector('.messages').scrollHeight;
                    });
                }
            });
        </script>        
    </body>
</html>
{% endblock %}