@import "./root.scss";

/* Boton del chat */
.chat-container {
    top: 20px; 
    left: 20px;
    margin-right: 2%;
    border-radius: 5px;
}

.chat-container img {
    padding: 10%;
    width: 100px;
}

#openModalBtn {
    margin-top: 5%;
    border: 1px solid black;
    background-color: #017b30c9;
    box-shadow: #111824cb 10px 10px 40px;
    transition: .5s all ease-in-out; 
}

#openModalBtn:hover {
    transform: scale(1.1);
    box-shadow: #488bffcb 10px 10px 40px;
}

/* Chat - Abierto */
.modal {
    position: fixed;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #00000051;
    box-shadow: #111824cb 10px 10px 40px;
    max-width: 30%;
}

.modal-content {
    background-color: #fefefe;
    padding: 1%;
    border: 1px solid #888;
    width: 10%;
    border-radius: 10px;
    box-shadow: #111824cb 10px 10px 40px;
}

.close-btn {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.chat-box {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

/* Mensajes */
.messages { 
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message, .message2 {
    border: 2px black solid;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    transition: .5s all ease-in-out;
}

/* Mensaje usuario */
.message { 
    align-self: flex-end;
    background-color: #8fb796b6;
    margin-left: auto;
}

/* Mensaje Chat200 */
.message2 { 
    align-self: flex-start;
    background-color: #81B9EF;
    margin-right: auto;
}

.message:hover {
    box-shadow: $--sombra-me 10px 10px 40px;
}

.message2:hover {
    box-shadow: $--sombra-ia 10px 10px 40px;
}

.input-box {
    display: flex;
    justify-content: space-between;
}

#prompt {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: #000000 10px 10px 40px;
    transition: .5s all ease-in-out;
}


#prompt:hover{
    box-shadow: $--sombra-me 10px 10px 40px;
}

button#sendBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    border: 1px solid black;
    box-shadow: $--sombra-cajas-oscuro 10px 10px 40px;
    transition: .5s all ease-in-out;
}

button#sendBtn:hover {
    background-color: #45a049;
    box-shadow: $--sombra-me 10px 10px 40px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animated-text {
    display: inline-block;
    animation: slideIn 1s ease-out;
}

@media screen and (max-width: 768px) {
    /* Chat - Abierto */
    .modal {
        position: fixed;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #00000051;
        box-shadow: #111824cb 10px 10px 40px;
        max-width: 80%;
    }

    .modal-content {
        background-color: #fefefe;
        padding: 1%;
        border: 1px solid #888;
        width: 10%;
        border-radius: 10px;
        box-shadow: #111824cb 10px 10px 40px;
    }
}