/* root: cards.scss */
$--background-cards: #F8F8FF;
$--texto-cards: #2C2C2C; 

/* root: universal */
$--celeste: #0175b9;
$--primario-luminoso: #022c4c;
$--primario-oscuro: #17223b;
$--texto: #ffffff;
$--texto-alternativo: #1e1e1e;

/* root: login.scss */
$--secundario-login: #1D1D1D;
$--texto-login: #121213;

/* root: nav.scss */
$--primary-dark2: #141a70;
$--primary-dark: #7b64fd;
$--primary-dark: #17223b;
$--primary-dark2: #141a70;

/* root: footer.css */
$--filtro-blanco: invert(50%) brightness(500%);

/* root: base.css */
$--tablas-principal: #4a38b0;

/* root: calificaciones.scss */
$--item-principal: #3B3E40;
$--item-gris: #D5D4D5;
$--fondo: #2C2C2C;
$--item-no-hover: #92969A;
$--item-fondo: #0665be;

/* root: dropzone.scss */
$--primario-dropzone: #193157;
$--background-dropzone: #F8F8FF;

$--sombra-cajas: #488bffcb;
$--sombra-cajas-oscuro: #111824cb;
$--sombra-cajas-200: #12dfa9cb;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}