/* root: universal */
$--celeste: #2393fc;
$--primario-luminoso: #0f5aa1;
$--primario-oscuro: #17223b;
$--texto: #ffffff;

/* root: login.scss */
$--secundario-login: #1D1D1D;
$--texto-login: #121213;

/* root: nav.scss */
$--primary-dark2: #141a70;
$--primary-dark: #7b64fd;
$--primary-dark: #17223b;
$--primary-dark2: #141a70;

/* root: footer.css */
$--filtro-blanco: invert(50%) brightness(500%);