{% extends "base_template.html" %}
{% block title %}Proa - Profesores{% endblock %}
{% load static %}
{% block content %}
<div class="container">
  <div class="modal fade" id="add__form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir profesor</h1>
        </div>
        
        <div class="modal-body">
          <form action="/profesores/nuevo2/" method="POST">
            {% csrf_token %} 
              <ul class="list-group"> 
                  <div class="list-group-item">
                    <input type="text" class="form-control" placeholder="Ingrese el nombre" name="nombre" required="required">
                  </div>
                  <div class="list-group-item">
                    <input type="text" class="form-control" placeholder="Ingrese el apellido" name="apellido" required="required"> 
                  </div>
                  <div class="list-group-item">
                    <input type="email" class="form-control" placeholder="Ingrese el mail" name="email">
                  </div>
                  <div class="list-group-item">
                    <input type="number" class="form-control" placeholder="Ingrese el DNI" name="DNI" required="required">
                  </div>
                  <div class="list-group-item">
                    <input type="text" class="form-control" placeholder="Ingrese el Telefono" name="telefono" required="required">
                  </div>
                  <button type="submit" class="btn btn-success mt-3">Nuevo</button>
                </ul>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  
  {% if mensaje %}
    <div class="alert alert-success" role="alert">
      {{mensaje}}
    </div>
  {% endif %}

  <div class="row g-2">
      
    <div class="col-auto">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add__form">Añadir profesor</button>
      <a href="{% url 'exportar_profesores' %}" class="btn btn-primary" >Exportar Profesores</a>
    </div>

    <form style="margin-top: 10px; margin-bottom: 20px;" class="row g-2" action="{% url 'filtro_profesores' %}" method="GET">
      <div class="col-auto">
        <select class="form-select form-select-sm" name="campo" id="campo">
            <option value="nombre">Nombre</option>
            <option value="apellido">Apellido</option>
            <option value="email">Email</option>
            <option value="dni">DNI</option>
            <option value="telefono">Telefono</option>
        </select>
      </div>
      <div class="col-auto">
        <input class="form-control form-control-sm" type="text" name="query" id="query" placeholder="Ingrese " value="{{ query }}">
      </div>
      <div class="col-auto">
        <button class="btn btn-secondary btn-sm " type="submit">Buscar</button>
      </div>
    </form>

    <div class="col-auto" style="margin-bottom: 30px; color: gray;">
      <p>Mostrando {{profesores|length}}/31 registros</p>
    </div>

  </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">DNI</th>
                <th scope="col">Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for profesor in profesores %}
              <tr>
                {% if profesor.dni == profesores_edit.dni %}
                  <form action="/proa/profesores/guardar/?id={{profesor.id}}" method="POST">
                  {% csrf_token %} 
                  <div class="row">
                    <th scope="row">{{profesor.id}}</th>
                    <td>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Ingrese el nombre" name="nombre" value = "{{profesor.nombre}}">
                      </div>
                    </td>
                    <td>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Ingrese el apellido" name="apellido" value = "{{profesor.apellido}}">
                      </div>
                    </td>
                    <td>
                      <div class="col">
                        <input type="email" class="form-control" placeholder="Ingrese el email" name="email" value = "{{profesor.email}}">
                      </div>
                    </td>
                    <td>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Ingrese el DNI" name="DNI" value = "{{profesor.dni}}">
                      </div>
                    </td>
                    <td>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Ingrese el teléfono" name="telefono" value = "{{profesor.telefono}}">
                      </div>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-success mb-2">Guardar</button>
                      <a class="btn btn-secondary" href="/proa/profesores" role="button">Cancelar</a>
                    </td>
                  </div>
                  </form>
                {% else %}
                  <th scope="row">{{profesor.id_profesor}}</th>
                  <td>{{profesor.nombre}}</td>
                  <td>{{profesor.apellido}}</td>
                  <td>{{profesor.email}}</td>
                  <td>{{profesor.dni}}</td>
                  <td>{{profesor.telefono}}</td>
                  <td>
                    <a class="btn btn-danger" href="/proa/profesores/delete?DNI={{profesor.dni}}" role="button">Eliminar</a>
                    <a class="btn btn-primary" href="/proa/profesores/editar?DNI={{profesor.dni}}" role="button">Editar</a>
                  </td> 
                {% endif %}
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
