{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ProA - Login</title>

    <!-- ICONO -->
    <link rel="shortcut icon" href="{% static 'img/ico.ico' %}" />

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />

    <!-- CSS MAP -->
    <link rel="stylesheet" href="{% static 'styles/css/login.css' %}" />

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      defer
    ></script>
  </head>

  <body>
    <form class="my-form" method="post" action="">
      {% csrf_token %}
      <!-- Hay que adaptar este cartel a la interfaz -->
      {% if not user_exists %}
      <div class="alert alert-warning">El usuario no existe!</div>
      {% endif %}
      <!--  -->
      <div class="login-welcome-row">
        <a href="#" title="Logo">
          <img src="{% static 'img/logo.png' %}" alt="logo" class="logo" />
        </a>
        <h1>Bienvenido &#x1F44F;</h1>
        <p>Por favor, ingresá tus datos</p>
      </div>
      <div class="input__wrapper">
        <input
          type="text"
          id="dni"
          name="dni"
          class="input__field"
          placeholder="DNI"
          required
        />
        <label for="dni" class="input__label">DNI:</label>
        <svg
          class="input__icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
          <path
            d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"
          ></path>
        </svg>
      </div>
      <div class="input__wrapper">
        <input
          id="password"
          name="password"
          type="password"
          class="input__field"
          placeholder="Contraseña"
          required
        />
        <label for="password" class="input__label"> Contraseña </label>
        <svg
          class="input__icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"
          ></path>
          <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
          <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
        </svg>
      </div>
      <button type="submit" class="my-form__button">Iniciar Sesión</button>
    </form>
  </body>
</html>
